/* importing Big Shoulders Display for font */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
/* common  style started here  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Big Shoulders Display", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: normal;
}
ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
::-webkit-scrollbar {
  height: 0;
  width: 0;
  scroll-behavior: smooth;
}

/* common  style ended here*/

/* navbar style started here */
.navbar--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 1809.5px;
  align-items: center;
  margin-left: 60px;
  margin-right: 50.5px;
  margin-top: 25px;
  position: absolute;
  z-index: 999;
}
.logo--toggleBar--wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 35px;
}
.logo--wrapper .site--logo {
  width: 130px;
  height: 37.731px;
  object-fit: cover;
  cursor: pointer;
}
.toggle--bar--wrapper {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toggle--bar--slice--wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.toggle--bar--slice {
  height: 2px;
  width: 20px;
  background-color: #fff;
  cursor: pointer;
}
.toggle--bar--slice:nth-child(2) {
  width: 15px;
}
.btn--user-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 17.5px;
}
.nav--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #5a0dff 0%, #ff29b8 50%, #ff581c 100%);
  color: var(--Gray-color-Gray-100, #fff);
  font-size: 18px;
  width: 170px;
  height: 60px;
  font-family: "Big Shoulders Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  border-radius: 45px;
  outline: none;
  border: none;
  column-gap: 9.59px;
  cursor: pointer;
}
.user--wrapper {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: gray;
  cursor: pointer;
}
.user--wrapper img {
  width: 17.45px;
  height: 21.83px;
  object-fit: cover;
}
/* navbar style ended here */

/* bammer style started here */
.banner--wrapper {
  height: auto;
  width: 1920px;
  display: flex;
  flex-direction: row;
}
.banner-wrapper-left {
  width: 530px;
  height: 1071px;
  background: linear-gradient(90deg, #080018 0%, #ff2929 50%, #ffb21c 100%);
}
.banner-wrapper-right {
  width: 1390px;
  height: 1071px;
  background: url("./images/banner.png");
  position: relative;
  z-index: 333;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-wrapper-right > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.7;
}
.banner-wrapper-right::after {
  content: "";
  width: 1390px;
  height: 1071px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.711);
}
.scroll--wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 394px;
  margin-left: 50px;
}
.progress--wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
.progress--bar {
  width: 25px;
  height: 4px;
  background-color: #fff;
  border-radius: 40px;
  width: 14px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.2);
}
.progress--bar:nth-child(1) {
  width: 25px;
  height: 4px;
  background-color: #fff;
}
.page-counter {
  margin-top: 145px;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}
.page--number {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
}
.page--number--info--wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  margin-top: 5px;
}
.page--number--info {
  color: rgba(255, 255, 255, 0.2);
  font-size: 30px;
  font-weight: 700;
  line-height: 65px;
}
.scroll--arrow-wrapper {
  margin-top: 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 55px;
}
.scroll--txt {
  color: var(--Gray-color-Gray-100, #fff);
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  rotate: 90deg;
}
.scroll--arrow-wrapper svg {
  width: 30.556px;
  height: 55px;
}
.hero--img {
  position: absolute;
  z-index: 555;
  width: 667px;
  height: 976px;
  object-fit: cover;
  margin-top: 74px;
  margin-left: 141px;
}
.heading--left-nav-wrapper {
  margin-left: 334px;
  margin-top: 248px;
  display: flex;
  flex-direction: row;
  column-gap: 170px;
  z-index: 1000;
  position: absolute;
}
.heading--btn-review--wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.heading-review-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.main--heading {
  color: #fff;
  font-size: 150px;
  font-weight: 900;
  line-height: 155px;
  text-transform: uppercase;
  width: 741px;
}
.banner--sub--heading {
  color: #999;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
}
.review--wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.single--review {
  width: 150px;
  height: 46px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.135) 9%,
    rgba(255, 255, 255, 0.092) 27%
  );
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.single--review svg {
  width: 16px;
  height: 16px;
}
.review--txt {
  color: #e2e2e2;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}
.banner--btn--wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.banner--btn {
  width: 200px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #5a0dff 0%, #ff29b8 50%, #ff581c 100%);
  color: var(--Gray-color-Gray-100, #fff);
  font-size: 18px;
  font-family: "Big Shoulders Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  border-radius: 45px;
  outline: none;
  border: none;
  column-gap: 9.59px;
  cursor: pointer;
}
.banner--btn:nth-child(2) {
  background: transparent;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  box-shadow: -5px -3px 8px 0px rgba(71, 23, 11, 0.2) inset,
    5px 2px 10px 0px rgba(45, 23, 70, 0.2) inset;
}
.banner--btn:nth-child(2) svg {
  color: (255, 255, 255, 0.2);
}
.banner--nav--wrapper {
  width: 95px;
  height: 611.35px;
  border-radius: 60px;
  opacity: 0.5;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.49) 0%,
    rgba(255, 255, 255, 0.1) 0.12%,
    rgba(255, 255, 255, 0.11) 99.89%
  );
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
  padding-top: 21px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.07);
  z-index: 1000;
}
.single--nav {
  width: 66.139px;
  height: 66.139px;
  flex-shrink: 0;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single--nav:nth-child(4) {
  width: 196px;
  height: 65px;
  border-radius: 50px;
  margin-right: 125px;
  align-items: center;
  justify-content: end;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #bc5db7dc;
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}
.single--nav:nth-child(4) p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  z-index: 666;
}
.single--nav:nth-child(4) img {
  margin-right: 15px;
}
.single--nav img {
  width: 21.646px;
  height: 22.58px;
}
.single--nav:nth-child(3) img {
  width: 22.8px;
  height: 16px;
}
.single--nav:nth-child(6) img {
  width: 24px;
}

/* banner style ended here */

/* show card wrapper style started here */
.show--card--wrapper {
  height: auto;
  width: 1920px;
  align-items: center;
  justify-content: center;
  margin: 0 60px;
  margin-top: -40px;
  position: absolute;
  z-index: 1111;
}
.show-card {
  width: 1800px;
  height: 454px;
  border-radius: 50px;
  background: linear-gradient(95deg, #181818 7.27%, #151515 99.21%);
}
.single--show--card--wrapper {
  position: absolute;
  padding: 0 127px;
  top: 0;
  left: 0;

  margin-top: -92px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
.single--show--card {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  align-items: center;
}

.single--show--card--img-wrapper {
  width: 364px;
  height: 382px;
  border-radius: 50px;
  background: url(./images/sronle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 50px;
}
.single--show--card:nth-child(2) .single--show--card--img-wrapper {
  width: 364px;
  height: 382px;
  border-radius: 50px;
  background: url(./images/flash.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 50px;
}
.single--show--card:nth-child(3) .single--show--card--img-wrapper {
  width: 364px;
  height: 382px;
  border-radius: 50px;
  background: url(./images/chiefly.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 50px;
}
.single--show--card:nth-child(4) .single--show--card--img-wrapper {
  width: 364px;
  height: 382px;
  border-radius: 50px;
  background: url(./images/worldWar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 50px;
}
.single--show--card--info--wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.single--show--card--heading {
  color: #fff;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}
.sinlge--card--review--wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.signle--card--review--star--txt {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
  justify-content: center;
}
.signle--card--review--star--txt img {
  width: 14px;
  height: 14px;
  object-fit: cover;
}
.signle--card--review--star--txt:nth-child(3) img {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}
.signle--card--review--star--txt p {
  color: #999;
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 26px;
}
.single--show--card--sub--heading {
  color: #999;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
/* show card wrapper style ended here */

/* navbar style started here */
/* navbar style ended here */

/* navbar style started here */
/* navbar style ended here */

/* navbar style started here */
/* navbar style ended here */

/* navbar style started here */
/* navbar style ended here */

/* navbar style started here */
/* navbar style ended here */
